.App {
   text-align: center;
}

body {
   font-family: "Mont", sans-serif;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.container {
   width: 90%;
   min-width: 1367px;
   margin: 0 auto;
}

/* menu */
#menu {
   background-color: #8cc63f;
}
.nav {
   width: 50%;
   margin: 0 auto;
   padding: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.nav a {
   color: white;
   text-decoration: none;
}
#donation {
   background-color: #1d4784;
   padding: 8px 16px;
   border-radius: 10px;
   transition: 0.2s;
}
#donation:hover {
   transform: scale(1.05);
}
/* ABout */
#about {
   padding-top: 2vh;
   background: linear-gradient(to bottom, #fff, #1d478414);
}
.main h5 {
   font-weight: 600;
   text-align: center;
}
.about {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   /* height: 60vh; */
}
.title {
   width: 100%;
   margin: 0 auto;
}
/* .title h1 {
   text-align: center;
   color: #2e3b29;
   font-weight: 600;
} */
.about .text {
   width: 50%;
   padding: 1% 4%;
   align-items: center;
}
.about .text h4 {
   font-weight: 300;
   color: #2e3b29;
}
.about .text span {
   font-weight: 600;
}
.about .img {
   padding: 0 15px;
   max-width: 50%;
   display: flex;
   align-items: center;
   /* height: 100%; */
}
.about .img img {
   width: 100%;
   border-radius: 15px;
}

/* Documents */
#documents {
   padding: 2% 0;
   background: linear-gradient(to bottom, #1d478450, #1d478470);
}
#title {
   font-size: 32px;
   font-weight: 600;
   width: 100%;
   text-align: center;
}
.documents {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.document {
   text-align: center;
   display: flex;
   flex-direction: column;
   background-color: #f0f0f090;
   width: 342px;
   border-radius: 30px;
   padding: 15px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   transition: 0.3s;
}
.document:hover {
   transform: scale(1.05);
}
.document h1 {
   font-size: 22px;
   color: #1d4784;
   font-weight: 600;
}
.document a {
   text-decoration: none;
   background-color: #8cc63f;
   color: #1d4784;
   font-size: 16px;
   padding: 10px;
   border-radius: 20px;
   width: 50%;
   margin: 0 auto;
   transition: 0.3s;
}
.document a:hover {
   background-color: #5a8a1a;
   color: #fff;
}
.document img {
   width: 40%;
   margin: 0 auto;
   padding: 50px 0;
}

/* Reviews */
#reviews {
   padding-top: 2%;
   background: linear-gradient(to bottom, #1d478470, #1d478450);
}
#reviews h3 {
   font-size: 32px;
   font-weight: 600;
   width: 100%;
   text-align: center;
}
.carousel {
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}
#arrows {
   width: 60px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: 0.2s;
}
#arrows:hover {
   transform: scale(1.05);
}
#arrows img {
   width: 100%;
}
.slide {
   width: 40%;
   text-align: center;
}

/* Collage */
#collage {
   padding-top: 5%;
   background: linear-gradient(to bottom, #1d478414, #1d478450);
}
#collage h4 {
   font-weight: 600;
   text-align: center;
}
#collage h4 span {
   font-weight: 300;
}
.collage-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   padding: 20px;
}

.collage-item {
   flex: 1 1 calc(33.333% - 20px);
   box-sizing: border-box;
}

.collage-item img {
   width: 100%;
   height: auto;
   display: block;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: 0.3s;
}
.collage-item img:hover {
   transform: scale(1.02);
}

/* footer */
#footer {
   padding: 50px 0;
}
.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.social {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 12px;
}
.social img {
   width: 36px;
   transition: 0.2s;
}
.social img:hover {
   transform: scale(1.1);
}

/* correction */
.correction p {
   margin-bottom: 30px;
}
#with {
  padding-bottom: 80px;
  margin: 0;
   border-bottom: #1d4784 2px solid;
}
.type {
   padding: 50px 0;
   border-bottom: #1d4784 2px solid;
}
