body {
   font-family: "Mont", sans-serif;
}
.container {
   width: 90%;
   margin: 0 auto;
}

/* menu */
#menu {
   background-color: transparent;
}
.nav {
   width: 100%;
   display: flex;
   flex-direction: row;
   margin: 20px;
   justify-content: space-between;
}
.buttons {
   width: 50%;
   padding: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.nav a {
   color: #2c2c2e;
   text-decoration: none;
}
#donation {
   background-color: #1d4784;
   padding: 8px 16px;
   color: #fff ;
   border-radius: 10px;
   transition: 0.2s;
}
#donation:hover {
   transform: scale(1.05);
}
@media screen and (max-width: 768px) {
   .nav {
      width: 100%;
      flex-wrap: wrap;
      padding: 15px 0;
   }
   .nav a {
      font-size: 16px;
      margin: 5px;
   }
}
/* ABout */
#center {
   padding-top: 2vh;
   background: linear-gradient(to bottom, #fff, #1d478414);
}
.main h5 {
   font-weight: 600;
   text-align: center;
}
.about {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   /* height: 60vh; */
}
.title {
   width: 100%;
   margin: 0 auto;
}
.about .text {
   width: 50%;
   padding: 1% 4%;
   align-items: center;
}
.about #center-text {
   width: 100%;
}
.about .text h4 {
   font-weight: 500;
   color: #2e3b29;
   font-size: 20px;
   line-height: 24px;
}
.about .text span {
   font-weight: 600;
}
.about .img {
   padding: 0 15px;
   max-width: 50%;
   display: flex;
   align-items: center;
   /* height: 100%; */
}
.about .img img {
   width: 100%;
   border-radius: 15px;
}

@media screen and (max-width: 768px) {
   .main h5 {
      font-size: 12px;
   }
   #about {
      padding-top: 1vh;
   }
   #about h3 {
      margin: 0;
   }
   .about {
      flex-direction: column;
   }
   .about .text {
      width: 100%;
   }
   .text h4 {
      font-size: 14px;
   }
   .about .img {
      width: 100%;
      max-width: 100%;
   }
}
.subtitles {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10%;
}
.levels {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0 4%;
}
.levels #level {
   font-size: 16px;
}
.levels .level {
   display: flex;
   flex-direction: row;
   gap: 15%;
   align-items: center;
   border-bottom: 0.5px solid #2e3b29;
   border-top: 0.5px solid #2e3b29;
   padding: 0 0 5%;
}
.levels .level .actions {
   display: flex;
   flex-direction: column;
   width: 70%;
   min-width: 500px;
}
.actions p {
   margin: 0;
   border-bottom: 0.5px solid #2e3b29;
}
.actions #action {
   font-size: 16px;
   font-weight: 600;
   margin: 3% 0;
}
/* Documents */
#documents {
   padding: 2% 0;
}
#title {
   font-size: 32px;
   font-weight: 600;
   width: 100%;
   text-align: center;
}
#subtitle {
   padding: 0 4%;
   font-style: italic;
   font-weight: 600;
   font-size: 20px;
   width: 50%;
}

.documents {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.document {
   text-align: center;
   display: flex;
   flex-direction: column;
   background-color: #f0f0f090;
   width: 342px;
   border-radius: 30px;
   padding: 15px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   transition: 0.3s;
}
.document:hover {
   transform: scale(1.05);
}
.document h1 {
   font-size: 22px;
   color: #1d4784;
   font-weight: 600;
}
.document a {
   text-decoration: none;
   background-color: #8cc63f;
   color: #1d4784;
   font-size: 16px;
   padding: 10px;
   border-radius: 20px;
   width: 50%;
   margin: 0 auto;
   transition: 0.3s;
}
.document a:hover {
   background-color: #5a8a1a;
   color: #fff;
}
.document img {
   width: 40%;
   margin: 0 auto;
   padding: 50px 0;
}

@media screen and (max-width: 768px) {
   .documents {
      flex-direction: column;
   }
   .document img {
      width: 25%;
      padding: 20px 0;
   }
}

/* Reviews */
#reviews {
   padding-top: 2%;
}
#reviews h3 {
   font-size: 32px;
   font-weight: 600;
   width: 100%;
   text-align: center;
}
.carousel {
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}
#arrows {
   width: 60px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: 0.2s;
}
#arrows:hover {
   transform: scale(1.05);
}
#arrows img {
   width: 100%;
}
.slide {
   width: 40%;
   text-align: center;
}
@media screen and (max-width: 768px) {
   .slide {
      width: 90%;
   }
}

/* Collage */
#collage {
   padding-top: 5%;
   background: linear-gradient(to bottom, #1d478414, #1d4784, #fff);
}
#collage h4 {
   font-weight: 600;
   text-align: center;
}
#collage h4 span {
   font-weight: 300;
}
.collage-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   padding: 20px;
}

.collage-item {
   flex: 1 1 calc(33.333% - 20px);
   box-sizing: border-box;
}

.collage-item img {
   width: 100%;
   height: auto;
   display: block;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: 0.3s;
}
.collage-item img:hover {
   transform: scale(1.02);
}

@media screen and (max-width: 768px) {
   #collage h4 {
      font-size: 14px;
   }
   .collage-item img:hover {
      transform: scale(1);
   }
}

/* footer */
#footer {
   padding: 50px 0;
}
.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.social {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 12px;
}
.social img {
   width: 36px;
   transition: 0.2s;
}
.social img:hover {
   transform: scale(1.1);
}

/* correction */
.correction p {
   margin-bottom: 30px;
}
#with {
   padding-bottom: 80px;
   margin: 0;
   border-bottom: #1d4784 2px solid;
}
.type {
   padding: 50px 0;
   border-bottom: #1d4784 2px solid;
}

/* equipment */
#equipment {
   padding-top: 3%;
}
.equipment {
   padding-top: 2%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 10px;
}
.facility {
   width: 20%;
   border: #1d478420 1px solid;
   padding: 10px;
}
.facility .img {
   display: flex;
   width: 100%;
   height: 250px;
   align-items: center;
   padding: auto 0;
}
.facility img {
   width: 100%;
   align-items: center;
   border-radius: 10px;
   transition: 0.3s;
}
.facility img:hover {
   transform: scale(1.1);
}
.facility h5 {
   font-size: 24px;
   text-align: center;
   font-weight: 600;
}
.facility p {
   font-size: 14px;
   overflow-y: hidden;
   height: 200px;
}
.facility a {
   text-decoration: none;
   color: #1d4784;
}

@media screen and (max-width: 768px) {
   .equipment {
      flex-wrap: wrap;
   }
   .facility {
      width: 42%;
   }
   .facility .img {
      height: 120px;
   }
   .facility img:hover {
      transform: scale(1);
   }
   .facility h5 {
      font-size: 14px;
      margin: 22px 0 10px;
   }
   .facility p {
      font-size: 12px;
      height: 120px;
   }
}

/* faq */
#faq {
   padding-top: 2%;
}
#faq .faq-container {
   width: 60%;
   margin: 0 auto;
}
.faq h3 {
   font-size: 22px;
   font-weight: 700;
   text-align: left;
   padding-left: 10%;
}
.faq h5 {
   font-size: 18px;
   font-weight: 500;
   text-align: center;
   margin-bottom: 70px;
   border-bottom: #1d4784 1px solid;
   padding: 0 10% 20px;
}

@media screen and (max-width: 768px) {
   #faq .faq-container {
      width: 90%;
      margin: 0 auto;
   }
   .faq h3 {
      padding: 0;
   }
   .faq h5 {
      padding: 0 0 20px;
      text-align: right;
   }
}
